body{
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;




    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);

}


body.dark{
    --accent-color: #D0D066;
    --background-color: #333;
    --text-color: white;
}

.header{

    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid white;
}
.headerAlt{
    outline: 3px solid black;
}

.title{
    margin: 0 0 .5rem 7rem;
}

.theme-toggle-button{
    background-color: var(--accent-color);
    color: var(--button-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5em 1em;
    margin: 0 7rem .5rem 0;
    border-radius: .3em;
    border: none;
    outline: none;

    transition: var(--transition-delay);
    transform: scale(1);
}
.theme-toggle-button .icon{
    margin-right: .5em;
}
.theme-toggle-button:hover,
.theme-toggle-button:focus{
    transform: scale(1.1)
}

.content{
    --rotation: 180;
    position: absolute;
    pointer-events: none;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    top: 50%;
    height: 50vmin;
    width: 50vmin;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}


.sun, .moon{
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.sun{
top: 5%;
opacity: 1;
}

.dark .sun{
    opacity: 0;
}

.moon{
bottom: 5%;
opacity: 0;
transform: rotate(180deg);
}

.dark .moon{
    opacity: 1;
}